@font-face {
    font-family: 'Omnes Light';
    src: url(./fonts/SF-UI-Text-Light.otf) format('opentype');
    /*    src: url(./fonts/Omnes_ATT%20II%20Light.otf) format('opentype');*/
}

@font-face {
    font-family: 'SF';
    src: url(./fonts/Omnes_ATT%20II-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'SF Light';
    src: url(./fonts/Omnes_ATTW02.ttf) format('truetype');
}

@font-face {
    font-family: 'Omnes Medium';
    src: url(./fonts/SF-UI-Text-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Omnes W';
    src: url(./fonts/SF-UI-Text-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Omnes';
    src: url(./fonts/SF-UI-Text-Light.otf) format('opentype');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f06d06;
    font-size: 18px;
    padding: 0;
    font-family: 'Omnes'!important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main.background-dark {
    height: calc(100vh);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414141+0,191919+100 */
    background: #414141;
    /* Old browsers */
    background: -moz-linear-gradient(top, #414141 0%, #191919 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #414141 0%, #191919 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #414141 0%, #191919 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#191919', GradientType=0);
    /* IE6-9 */
    position: relative;
}

main .button-dark {
    height: 50px;
    max-width: 500px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
    display: block;
    width: 90%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    font-size: 21px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

main .button-blue {
    height: 50px;
    max-width: 500px;
    bottom: 20px;
    left: 5%;
    right: 5%;
    display: block;
    width: 90%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid rgb(26, 160, 217);
    font-size: 14px;
    color: rgb(26, 160, 217);
}

main .button-blue:hover {
    border: 1px solid rgba(26, 160, 217, .7);
    color: rgba(26, 160, 217, .7);
}

main .button-blue-disable {
    height: 50px;
    max-width: 500px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
    display: block;
    width: 90%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid rgba(26, 160, 217, .5);
    font-size: 21px;
    color: rgba(26, 160, 217, .5);
    letter-spacing: 3px;
}

button.button-dark-icon {
    height: 100px;
    border: 0;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

button.button-dark-icon > .ico-add {
    background-image: url(img/ico.add.white.svg);
    height: 56px;
    width: 56px;
    display: block;
    margin: auto;
}

button.button-dark-icon:hover {
    color: rgb(225, 225, 225);
}

input.form-control {
    border: 0;
    border-bottom: 1px solid rgb(26, 160, 217);
    outline: none;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}

textarea.form-control.box {
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    height: 120px;
    padding-top: 10px;
    resize: none;
    font-family: 'Omnes';
    font-size: 24px;
}

header.header-preguntas {
    width: 100%;
    height: 50px;
    background-color: #252525;
    color: white;
    text-align: center;
    position: relative;
    line-height: 50px;
    font-size: 18px;
}

header.header-preguntas > .back {
    width: 32px;
    height: 50px;
    position: absolute;
    background-image: url(../app/shared/directives/ng-header/img/back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

header.header-preguntas > .back.disabled {
    opacity: 0.3;
}

header.header-preguntas > .next {
    width: 32px;
    height: 50px;
    position: absolute;
    background-image: url(../app/shared/directives/ng-header/img/next.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
    left: 94px;
}

header.header-preguntas > .next.disabled {
    opacity: 0.3;
}

header.header-preguntas > .close {
    width: 32px;
    height: 50px;
    position: absolute;
    background-image: url(../app/shared/directives/ng-header/img/close.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    right: 20px;
}

header.header-preguntas > .position {
    position: absolute;
    left: 40px;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
}

.form-group button.btn {
    width: 124px;
    margin: 2%;
    display: inline-block;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Omnes W';
    letter-spacing: 3px;
}

.form-group.footer-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    height: 80px;
    background: white;
    /*    border-top: 1px solid rgb(26, 160, 217);*/
}

.control-preguntas {
    display: inline-block;
    letter-spacing: 1px;
    line-height: 52px;
    text-align: center;
    height: 52px;
    width: 217px;
    font-size: 14px;
    color: rgb(26, 160, 217);
    margin: 2%;
    vertical-align: middle;
}

.control-preguntas > .eliminar,
.control-preguntas > .agregar {
    width: 50px;
    display: inline-block;
    float: left;
    border: 1px solid rgb(26, 160, 217);
    font-size: 20px;
    height: 50px;
}

.control-preguntas > .eliminar.disabled,
.control-preguntas > .agregar.disabled {
    opacity: 0.3;
}

.control-preguntas > .texto {
    width: 115px;
    display: inline-block;
    float: left;
    text-align: center;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    font-size: 20px;
    font-family: 'Omnes W';
    line-height: 50px;
    height: 50px;
}

.container-pregunta {
    border: 1px solid rgb(200, 200, 200);
}

.container-pregunta > label {
    margin: 10px 0 0 10px;
    font-weight: 300;
    margin: 10px 0;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-family: 'Omnes';
    font-size: 18px;
    color: #9B9B9B;
}

.categorias-colors > div > input {
    border-bottom: 1px solid #D2D2D2;
    font-size: 20px;
}

.categorias-colors > div:nth-child(1) > label {
    color: #FEB835;
}

.categorias-colors > div:nth-child(1) > input:focus {
    border-bottom: 1px solid #FEB835;
    box-shadow: none;
}

.categorias-colors > div:nth-child(2) > label {
    color: #50A722;
}

.categorias-colors > div:nth-child(2) > input:focus {
    border-bottom: 1px solid #50A722;
    box-shadow: none;
}

.categorias-colors > div:nth-child(3) > label {
    color: #8F66CA;
}

.categorias-colors > div:nth-child(3) > input:focus {
    border-bottom: 1px solid #8F66CA;
    box-shadow: none;
}

.categorias-colors > div:nth-child(4) > label {
    color: #D64249;
}

.categorias-colors > div:nth-child(4) > input:focus {
    border-bottom: 1px solid #D64249;
    box-shadow: none;
}

.categorias-colors > div:nth-child(5) > label {
    color: #136BAC;
}

.categorias-colors > div:nth-child(5) > input:focus {
    border-bottom: 1px solid #136BAC;
    box-shadow: none;
}

.alerta-error {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    color: white;
    text-align: center;
    font-size: 24px;
    left: 0;
}

.alerta-error > .icono-error {
    width: 91px;
    height: 93px;
    background-image: url(img/icono-error.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 140px auto 20px;
}

.alerta-error > .titulo-error {
    width: 70%;
    font-family: 'Omnes';
    margin: 0 auto 30px;
    font-size: 24px;
}

.alerta-error > .cuerpo-error {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'Omnes';
}

.alerta-error > .contenedor-botones-error {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.alerta-error > .contenedor-botones-error > .boton-error {
    width: 44%;
    height: 50px;
    border: 1px solid #3AACDE;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Omnes W';
}

main > .content-footer {
    height: calc(100vh - 150px);
    overflow: auto;
}

.detalle-info {
    background: #252525;
    color: white;
    text-align: center;
}

.detalle-info > div.participantes {
    color: #1BA0D9;
    font-size: 16px;
    padding-top: 20px;
    font-family: 'Omnes';
}

.detalle-info > div.veces {
    font-size: 40px;
    padding-bottom: 5px;
}

.detalle-opciones {
    width: 7px;
    height: 26px;
    background: url(/assets/img/Opciones.png);
    background-size: cover;
    position: fixed;
    top: 15px;
    right: 15px;
}

.detalle-resumen {
    padding-top: 20px;
}

.detalle-resumen .respuestas {
    font-size: 16px;
    padding-bottom: 20px;
}

.detalle-resumen .grafica {
    text-align: center;
    color: #7D7D7D;
    padding-bottom: 10px;
}

.sidebar-detalle {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}

.sidebar-detalle > .close {
    width: 12px;
    height: 24px;
    background: url(/app/shared/directives/ng-header/img/next.png);
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10;
    opacity: 1;
    background-repeat: no-repeat;
}

.sidebar-detalle > .info-encuesta {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 0;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.sidebar-detalle > .info-encuesta.open {
    width: calc(100% - 100px);
}

.sidebar-detalle > .info-encuesta > .numero-encuesta {
    color: #1BA0D9;
    font-size: 16px;
    margin-top: 200px;
}

.sidebar-detalle > .info-encuesta > .id-encuesta {
    color: white;
    font-size: 40px;
    margin-top: 30px;
}

.big-button {
    height: 50px;
    line-height: 50px;
    width: 90%;
    border: 1px solid rgb(26, 160, 217);
    font-size: 20px;
    color: rgb(26, 160, 217);
    letter-spacing: 3px;
    margin: 20px auto 0;
    text-align: center;
    font-family: 'Omnes W';
}

.mis-encuestas {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    background: #252525;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding-left: 20px;
    font-family: 'Omnes';
    font-size: 20px;
}

.full-encuestas {
    margin-top: 40px;
    background: white;
}

.full-encuestas table.table thead {
    position: fixed;
    width: 100%;
    left: 0;
    top: 60px;
    background: white;
}

.full-encuestas table.table tbody {
    position: fixed;
    width: 100%;
    height: calc(100vh - 111px);
    background: white;
    overflow: auto;
    left: 0;
    top: 111px;
}

.full-encuestas table.table thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.full-encuestas table.table thead tr td {
    font-size: 16px;
    font-family: 'Omnes Light';
    line-height: 34px;
}

.full-encuestas table.table tbody tr:nth-child(odd) {
    background: rgba(216, 216, 216, 0.24);
}

.full-encuestas table.table tbody tr td {
    border: none;
    font-family: 'Omnes Light';
    font-size: 16px;
    line-height: 33px;
}

.full-encuestas table.table tbody tr td:nth-child(3) {
    text-align: center;
}

.full-encuestas table.table tbody tr td > div.estatus.active {
    background: #7ED321;
    height: 15px;
    width: 15px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
}

.btn-agregar-encuesta {
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: url(./img/agregar.png) no-repeat;
    background-size: 100%;
}

.btn-generar {
    height: 50px;
    line-height: 50px;
    width: 90%;
    position: fixed;
    color: white;
    border: 1px solid #1BA0D9;
    left: 5%;
    bottom: 10px;
    font-family: 'Omnes W';
    font-size: 20px;
    letter-spacing: 3px;
}

.nuevo-control-preguntas {
    display: inline-block;
    letter-spacing: 1px;
    line-height: 52px;
    text-align: center;
    height: 52px;
    width: 100%;
    font-size: 14px;
    color: rgb(26, 160, 217);
    margin: 0;
    vertical-align: middle;
}

.nuevo-control-preguntas.control-preguntas .texto {
    width: calc(100% - 100px);
    letter-spacing: 3px;
}

.globo {
    position: fixed;
    width: 55px;
    height: 55px;
    background: url(img/globo.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    right: 0;
    z-index: 10;
    top: 3px;
}

.next-calendar {
    background: url(img/calendar-next.png);
    background-repeat: no-repeat;
    background-position: center;
}

.prev-calendar {
    background: url(img/calendar-back.png);
    background-repeat: no-repeat;
    background-position: center;
}

.day {
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 100;
}

.alerta-calendario {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
}

.month-vigencia {
    width: 50%;
    float: left;
    color: #333;
    position: relative;
}

.day-vigencia {
    width: 50%;
    float: right;
    color: #333;
    position: relative;
}

.month-vigencia > span,
.day-vigencia > span {
    color: #9B9B9B;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
}

i.flecha-down {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 10px;
    width: 14px;
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url(../app/shared/directives/ng-select/img/ico.arrow.down.svg);
}


@media (min-width: 992px){
.custom-martin.col-md-6 {
    height:600px;
}
}
@media (min-width: 1200px){
.custom-martin.col-lg-3 {
    height: 500px;
}
}